.leave-view-card-table {
	table-layout: auto;
	font-family: Poppins;
}

.leave-card-close-btn {
	background-color: transparent;
	border: none;
	display: inline-block;
	cursor: pointer;
	margin-left: 426px;
	margin-top: 9px;
}

.leave-view-card {
	width: 475px;
	height: 537px;
	background: rgba(255, 255, 255);
	box-shadow: 0px 4px 4px 6px rgb(0 0 0 / 25%);
	border-radius: 20px;
	z-index: 1;
	position: absolute;
	margin-left: 548px;
	margin-top: 65px;
}

.leave-card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -23px;
}

.leave-view-card-table {
	table-layout: auto;
	font-family: Poppins;
}

.leave-card-heading {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #125465;
}

.leave-card-desc,
.leave-card-heading {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	padding-left: 42px;
}

.leave-card-desc {
	color: #272727;
	font-weight: 400;
}
